<% @lba_menu.each do |menu_section| %>
<ul>
  <% if menu_section[0] %>
    <li class='title'><%= menu_section[0] %></li>
  <% end -%>

  <% menu_section[1].each do |item| %>
    <li class='<%= admin_item_class(item) %>'><%= link_to item.menu, admin_item_href(item) %></li>
  <% end -%>


</ul>

<% end -%>

<% if @lba_logout_path = instance_exec(&LittleBigAdmin.config.logout_path) %>
  <ul>
    <li class='title'>User Account</li>
    <li>
      <%= link_to "Logout", @lba_logout_path, data: { method: :delete } %>
    <li>
  </ul>
<% end -%>

